.data-square {
  min-height: 200px;
  border: 1px solid #000;
  font-size: 24px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.assigns button {
  text-align: start !important;
}