body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(52, 19, 199, 0.3)), url('../img/bgss.jpg');
    ;
    background-size: cover;
    background-position: center;
}

.mainSection {
    background-image: linear-gradient(to bottom, rgba(107, 105, 105, 0.057), rgba(52, 19, 199, 0.3)), url('../img/bgss.jpg');
    background-position: center;
    background-size: cover;
    min-height: 75%;
    overflow: hidden;
    box-shadow: 1px 0px 12px 0.5rem rgba(197, 13, 253, 0.144);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .loginWrapper {
        width: 100% !important;
        border-radius: none;
    }

    .mainSection {
        border-radius: 55px !important;
        box-shadow: none;
        background-color: transparent;
    }

    .wall {
        display: none;
    }

    .loginWrapper::before {
        display: none;
    }
}

.wall {
    background-image: linear-gradient(to bottom, rgba(107, 105, 105, 0.057), rgba(52, 19, 199, 0.3)), url('../img/bgss.jpg');
    ;
    background-size: cover;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: calc(20px + 0.490625vw);
    letter-spacing: 20px;
    animation: light 12s infinite alternate;
}

@keyframes light {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #600ba1, 0 0 15px #330a52, 0 0 20px #990bbcd4,
            0 0 40px #ed0ccb, 0 0 60px #600ba1, 0 0 10px #330a52, 0 0 98px #bc0b43;
        color: white;
    }
}

.mainMoveSignUp {
    position: absolute;
    top: 150%;
}

.moveUpSignUp {
    top: 50%;
    transform: translateY(-50%);
}

.mainMoveSignIn {
    position: relative;
    bottom: 0;
}

.transition-Delay {
    transition: all 0.5s ease;
}

.moveDownSignIn {
    bottom: -150%;
}

.delay-1 {
    transition: all 0.5s .5s ease;
}

.moveUpSignIn {
    bottom: 0;
}

.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
    background-color: transparent;
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: white;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-select:focus,
.form-control:focus {
    border-color: #6b1e7b;
    outline: 0;
    box-shadow: 1px 0px 12px 0.5rem rgb(195 13 253 / 22%);
}

.form-control {
    border-color: #871c9aa9;

}

div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus {
    box-shadow: none !important;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    border-color: #6b1e7b !important;
    box-shadow: 0px 1px 28px 0.25rem rgba(185, 11, 229, 0.142) !important;
}

.btn-primary {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #871c9aa9;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-hover-bg: #7617e279;
}

.btn-success {
    --bs-btn-bg: #7617e279;
    --bs-btn-border-color: #7617e279;
    --bs-btn-hover-border-color: #871c9aa9;
    --bs-btn-hover-bg: transparent;

}

.loginWrapper {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.451), rgba(31, 23, 65, 0.205));
    position: relative;
    z-index: 2;
    width: 20%;
    filter: brightness(150%);
    border-radius: 60px;
}

.loginWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 200px;
    background-image: url('../img/wave.svg');
    filter: brightness(20%);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    z-index: 1;
}